<!DOCTYPE HTML>
    <html>
        <head>
            <style>.hidden {
                visibility: hidden;
            }
            body {
                background-color: lightblue;
            }
            </style>
        </head>
        <body>
            <main>
                <div class = "wrapper">
                <form>
                    <label for="username">username:</label>
                    <imput type="text" id="username" size='11'></input>
                    <label for="password">password:</label>
                    <imput type="submit" value="submite" id="submite"></input>
                        <p class="hidden">Incorrect username or password</p>
                </form>
                </div>
            </main>
        </body>
    </html>

